version: '3.8'

services:
  # Flask Application Service
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/LogisticsDB
    depends_on:
      - mongo
    volumes:
      - .:/app
    restart: unless-stopped

  # MongoDB Service
  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=LogisticsDB
    restart: unless-stopped

volumes:
  mongodb_data: